<div *ngIf='!croppedImage'>
  <div class="row">
    <h1>Capture User Image</h1>
  </div>

  <div class="row">
    <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
      *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
      (cameraSwitched)="cameraWasSwitched($event)" [videoOptions]="videoOptions" [imageQuality]="1"
      (initError)="handleInitError($event)"></webcam>
  </div>

  <h4 *ngIf="errors.length > 0">Messages:</h4>
  <ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
  </ul>
</div>

<button *ngIf='!croppedImage' type="button" class="btn btn-primary" (click)="triggerSnapshot();">Take A
  Snapshot</button>


<!-- CROP IMAGE -->
<div class="align-items-center justify-content-end">
  <div class="row" *ngIf='croppedImage'>
    <h1>Crop Image</h1>
  </div>
  <div *ngIf='croppedImage && !showCroppedImage' class="row">
    <button class="m-3 btn btn-secondary" (click)="zoomOut()">Zoom -</button>
    <button class="m-3 btn btn-secondary" (click)="zoomIn()">Zoom +</button>
  </div>
  <div *ngIf="!showCroppedImage" class="row croper-container">

    <!-- REPLACE 200 here with the required dimension for user photo -->
    <image-cropper [imageBase64]="clickedImage" [maintainAspectRatio]="true" [resizeToWidth]="200"
      [resizeToHeight]="200" [cropperStaticWidth]="200" [cropperStaticHeight]="200" [aspectRatio]="1 / 1" format="jpeg"
      [transform]="transform" [hideResizeSquares]="true" (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
    </image-cropper>
  </div>


  <div *ngIf="!showCroppedImage && croppedImage" class="row mt -5">
    <button type="button" class="btn btn-primary" (click)="cropImage();">Crop</button>
  </div>


  <div class="row mt-5 mb-5">
    <img *ngIf='showCroppedImage' [src]="croppedImage" />
  </div>

  <div class="row" *ngIf='croppedImage && showCroppedImage'>
    <button type="button" class="btn btn-success" (click)="saveImage('cropped');">Submit</button>
  </div>
</div>

<!-- <img [src]="croppedImage" /> -->
